backend/node_modules/
backend/.env
backend/eventapp_db.json

mobile/node_modules/
mobile/.env
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/expo-env.d.ts
mobile/.kotlin/

documentacion/

consolas.bat

tas-done-alert.ps1

backend/uploads/
.atl/
openspec/

.DS_Store
npm-debug.*
yarn-debug.*
yarn-error.*
